<div class="row counter-container">
  <div class="col-sm-12">
    <div class="column-inner">
      <div class="wpb_wrapper">
        <div class="row justify-content-center">
          <div class="col-sm-12 col-lg-3">
            <div class="column-inner">
              <div class="wpb_wrapper">
                <div class="counter-wrapper text-center">
                  <div class="counter-thumb">
                    <img class="img-fluid" src="../../../../assets/images/house-1.png" width="64" height="64" alt="Properties">
                  </div>
                  <div class="counter-value">
                    <h3>
                      <span class="counter-up" data-count="450">450</span>
                      <span class="counter-suffix">+</span>
                    </h3>
                  </div>
                  <div class="counter-title">
                    <h4>Dershane</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
