<div class="container py-5">
  <div class="row mb-3">
    <div class="col-sm-10">
      <h1>Comfortable Elegant Villa</h1>
    </div>
    <div class="col-sm-2 text-right">
      <h1 class="point">
        7.8
        <i class="fa fa-star-o"></i>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>
    <div class="col-sm-4 contact">

      <div id="contact_widget-3" class="widget-container contact_sidebar">
        <h3 class="widget-title-sidebar">Contact</h3>
        <div class="contact_sidebar_wrap">
          <p class="widget_contact_addr">Business Park Theale C1, Center Berkshire RS1 5A1, England</p>
          <p class="widget_contact_phone">
            <span class="contact_widget_label">Phone: </span>
            <a href="tel:305+555+4446">305 555 4446</a>
          </p>
          <p class="widget_contact_email">
            <span class="contact_widget_label">Email:</span>
            <a href="mailto:wpestate@email.com">wpestate@email.com</a>
          </p>
          <p class="widget_contact_url">
            <span class="contact_widget_label">Website:</span>
            <a href="https://berlin.wpestatetheme.org">berlin.wpestatetheme.org</a>
          </p>
          <div class="contact_widget_social_wrapper">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fa fa fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fa fa-google"></i>
            </a>
            <a href="#">
              <i class="fa fa-linkedin"></i>
            </a>
            <a href="#">
              <i class="fa fa-pinterest"></i>
            </a>
            <a href="#">
              <i class="fa fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
