
  <div class="vc_column-inner">
    <div>
      <div class="feature-box-wrapper text-center shortcode-rand-42">
        <div class="feature-box-thumb">
          <img class="img-fluid" src="../../../../assets/images/flat-1.png" width="64" height="64">
        </div>
        <div class="feature-box-title">
          <h6 class="section-title">
            <a href="#" title="{{program.programDescription}}">{{program.programDescription}}</a>
          </h6>
        </div>
      </div>
    </div>
  </div>

