<div class="property-parent mb-5">
  <div class="container mb-3">

    <div class="prop_title_zone_menu">
      <div class="prop_title_zone_menu_container">
        <ul class="property_menu" >
          <li *ngFor="let propertyMenu of (firmPropertyMenu$ ? firmPropertyMenu$ : [])">
            <a class="" href="#{{propertyMenu.propertyTitle}}">{{propertyMenu.propertyTitle}}</a>
          </li> 
        </ul>
      </div>
    </div>

    <div class="single-content listing-content mt-4">

      <div class="wpestate_property_description wrapper_content " id="property_description">
        <h4 id="property_description_title">Property Description</h4>
        <p>Beautiful, updated, ground level Co-op apartment in the desirable Bay Terrace neighborhood. This home features hardwood floors throughout, brand new bathrooms, newer EIK, modern front-load washer/dryer, full dining room, large living area, 3 spacious bedrooms and plenty of storage. Master bedroom includes both a standard closet and custom closet wall unit. Large windows face many directions for tons of natural light.</p>
      </div>

      <div class="panel-group property-panel" id="accordion_prop_addr">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a id="property_address_title" data-toggle="collapse" data-parent="#accordion_prop_addr" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              Property Address
            </a>
          </div>
          <div id="collapseTwo" class="collapse">
            <div class="panel-body">
              <div class="row mx-4">
                <div class="listing_detail col-md-4">
                  <strong>Address:</strong> Mainzer Str. 46
                </div>
                <div class="listing_detail col-md-4">
                  <strong>Address:</strong> Mainzer Str. 46
                </div>
                <div class="listing_detail col-md-4">
                  <strong>Address:</strong> Mainzer Str. 46
                </div>
                <div class="listing_detail col-md-4">
                  <strong>Address:</strong> Mainzer Str. 46
                </div>
                <div class="listing_detail col-md-4">
                  <strong>Address:</strong> Mainzer Str. 46
                </div>
                <div class="listing_detail col-md-4">
                  <strong>Address:</strong> Mainzer Str. 46
                </div>
                <div class="listing_detail col-md-4">
                  <strong>Address:</strong> Mainzer Str. 46
                </div>
                <div class="listing_detail col-md-4">
                  <strong>Address:</strong> Mainzer Str. 46
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-group property-panel" id="accordion_prop_details">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a id="prop_details_title" data-toggle="collapse" data-parent="#accordion_prop_details" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Property Details
            </a>
          </div>
          <div id="collapseOne" class="collapse">
            <div class="panel-body">
              <div class="row mx-4">
                <div class="listing_detail col-md-4">
                  <strong>Address:</strong> Mainzer Str. 46
                </div>
                <div class="listing_detail col-md-4">
                  <strong>Address:</strong> Mainzer Str. 46
                </div>
                <div class="listing_detail col-md-4">
                  <strong>Address:</strong> Mainzer Str. 46
                </div>
                <div class="listing_detail col-md-4">
                  <strong>Address:</strong> Mainzer Str. 46
                </div>
                <div class="listing_detail col-md-4">
                  <strong>Address:</strong> Mainzer Str. 46
                </div>
                <div class="listing_detail col-md-4">
                  <strong>Address:</strong> Mainzer Str. 46
                </div>
                <div class="listing_detail col-md-4">
                  <strong>Address:</strong> Mainzer Str. 46
                </div>
                <div class="listing_detail col-md-4">
                  <strong>Address:</strong> Mainzer Str. 46
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-group property-panel" id="accordion_prop_features">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a id="prop_ame_title" data-toggle="collapse" data-parent="#accordion_prop_features" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              Property Features
            </a>
          </div>
          <div id="collapseThree" class="collapse">
            <div class="panel-body">
              <div class="row mx-4">
                <div class="listing_detail col-md-4">
                  <i class="fa fa-check"></i>attic
                </div>
                <div class="listing_detail col-md-4">
                  <i class="fa fa-check"></i>attic
                </div>
                <div class="listing_detail col-md-4">
                  <i class="fa fa-check"></i>attic
                </div>
                <div class="listing_detail col-md-4">
                  <i class="fa fa-check"></i>attic
                </div>
                <div class="listing_detail col-md-4">
                  <i class="fa fa-check"></i>attic
                </div>
                <div class="listing_detail col-md-4">
                  <i class="fa fa-check"></i>attic
                </div>
                <div class="listing_detail col-md-4">
                  <i class="fa fa-check"></i>attic
                </div>
                <div class="listing_detail col-md-4">
                  <i class="fa fa-check"></i>attic
                </div>
                <div class="listing_detail col-md-4">
                  <i class="fa fa-check"></i>attic
                </div>
                <div class="listing_detail col-md-4">
                  <i class="fa fa-check"></i>attic
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

